$maxWidth: 144;
@mixin adaptive-prop($property, $minSize, $maxSize) {
  $addSize: $maxSize - $minSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (min-width: 76.7rem) {
    #{$property}: calc(#{$minSize + rem} + #{$addSize} * (100vw / #{$maxWidth}));
  }
  @media (max-width: 76.7rem) {
    #{$property}: calc(#{$minSize + rem} + #{$addMobSize} * ((100vw - 37.5rem) / #{$maxWidth}));
  }
}